body {
    background-color: #9acd32;
    font: normal 15pt Arial;
    color: black;
}

header {
    text-align: center;
}

section {
    background-color: #fff;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    text-align: center;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.363);
}

footer {
    text-align: center;
    font-style: italic;
}

#imagem {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    margin-top: 15px;
}